<h2 id="currentEventsTitle">Events</h2>
<div id="catSelect">
    <ul>
        <li id="academicFilter"><input type="image" src="../../../../assets/images/categories/academicsFilter.png" id="academicsFilter" class="filterButtons" style=""><p>Academics</p></li>
        <li><input type="image"  src="../../../../assets/images/categories/artsFilter.png" id="artsFilter" class="filterButtons" style=""><p>Arts</p></li>
        <li><input type="image"  src="../../../../assets/images/categories/athleticsFilter.png" id="athleticsFilter" class="filterButtons" style="filter: invert() sepia() saturate(8000%) drop-shadow(blue 3px 3px 5px);"><p>Athletics</p></li>
        <li><input type="image"  src="../../../../assets/images/categories/miscellaneousFilter.png" id="miscellaneousFilter" class="filterButtons"><p>Miscellaneous</p></li>
    </ul>
</div>