

#loginBox {
  border-radius: 25px;
  background-image: linear-gradient(blue, lightblue);
  width: 400px;
  height: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#loginButton {
  margin-top: 10px;
  text-align: center;
}

#errorBox {
  color: red;
  text-align: center;
}

#user {
  text-align: center;
  border-radius: 10px;
  transition: ease-in-out .5s width;
  width: 200px;
  height: 27px;
  margin-bottom: 8px;
}

#user:hover {
  width: 250px;
  border-color: blue;
}

#pwd:hover {
  width: 250px;
  border-color: blue;
}

#pwd {
  text-align: center;
  padding: 0;
  border-radius: 10px;
  transition: ease-in-out .5s width;
  width: 200px;
  height: 27px;
}

#logNButton {
  border-radius: 10px;
  width: 100px;
  transition: ease-in-out .5s;
  background-color: white;
}

#logNButton:hover {
  width: 150px;
  background-color: blue;
}